body{
  margin-top: 10px;
}
.container{
  max-width: 430px;
  margin: auto;
  border: 5px solid #6441a4;
}
.header{
  color: #6441a4;
  text-align: center;
  padding: 20px;
}
.intro{
  margin-top: 40px;
}
.button-container{
  margin: auto;
}
button{
  background: #6441a4;
  border: 0;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  color: white;
  padding: 10px;
}
#offline, #online, #fcc{
  display: inline-block;
}
#online, #fcc{
  margin-right: 20px;
}
.content-container{
  max-width: 390px;
  margin: auto;
}
.panel{
  padding: 10px;
}
.panel div{
  float: left;
  padding-right: 5px;
  color: #555;
}
.panel p{
  margin-top: 95px;
  color: #555;
}
.panel a{
  text-decoration: none;
  color: #555;
}
.img-wrapper{
  width: 80px;
}
img{
  max-width: 100%;
}
@media only screen and (max-width: 400px) {
  .content-container{
    width: 95%;
    margin: auto;
  }
    #online, #fcc{
      margin-right: 5px;
    }
    button{
      padding: 5px;
    }
}
